In [1]:
#Importing the data file on 311 NYC system Department of Housing Preservation and Development 
import pandas as pd
file="D:\Python\edx\Capstone project\data_311_correct.csv"
df=pd.read_csv(file)

In [2]:
#Looking at the dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019843 entries, 0 to 6019842
Data columns (total 16 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   Unique Key              int64
 2   Created Date            object
 3   Closed Date             object
 4   Complaint Type          object
 5   Location Type           object
 6   Incident Zip            float64
 7   Incident Address        object
 8   Street Name             object
 9   Address Type            object
 10  City                    object
 11  Status                  object
 12  Resolution Description  object
 13  Borough                 object
 14  Latitude                float64
 15  Longitude               float64
dtypes: float64(3), int64(2), object(11)
memory usage: 734.8+ MB

In [3]:
# Q1. The dataset contains complaints logged since what date?
df_asc=df.sort_values(by=['Created Date'])
df_asc.head()

,Unnamed: 0,Unique Key,Created Date,Closed Date,Complaint Type,Location Type,Incident Zip,Incident Address,Street Name,Address Type,City,Status,Resolution Description,Borough,Latitude,Longitude
177182,177182,15634460,01/01/2010 02:31:13 PM,01/02/2010 02:35:01 PM,HPD Literature Request,NaN,NaN,NaN,NaN,NaN,NaN,Closed,The literature will be emailed within 24 hours...,Unspecified,NaN,NaN
177179,177179,15634698,01/01/2010 02:39:02 PM,01/04/2010 01:20:45 PM,HPD Literature Request,NaN,NaN,NaN,NaN,NaN,NaN,Closed,The literature has been mailed. If it has not ...,Unspecified,NaN,NaN
177186,177186,15633862,01/01/2010 04:18:46 PM,01/04/2010 01:20:46 PM,HPD Literature Request,NaN,NaN,NaN,NaN,NaN,NaN,Closed,The literature has been mailed. If it has not ...,Unspecified,NaN,NaN
177188,177188,15633410,01/01/2010 04:59:23 PM,01/02/2010 05:02:49 PM,HPD Literature Request,NaN,NaN,NaN,NaN,NaN,NaN,Closed,The literature will be emailed within 24 hours...,Unspecified,NaN,NaN
177180,177180,15634558,01/01/2010 05:00:01 AM,01/04/2010 01:20:48 PM,HPD Literature Request,NaN,NaN,NaN,NaN,NaN,NaN,Closed,The literature has been mailed. If it has not ...,Unspecified,NaN,NaN

In [4]:
# Q2. The dataset contains complaints logged till what date?
df.head()

,Unnamed: 0,Unique Key,Created Date,Closed Date,Complaint Type,Location Type,Incident Zip,Incident Address,Street Name,Address Type,City,Status,Resolution Description,Borough,Latitude,Longitude
0,0,45531130,02/02/2020 06:09:17 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10019.0,426 WEST 52 STREET,WEST 52 STREET,ADDRESS,NEW YORK,Open,The following complaint conditions are still o...,MANHATTAN,40.765132,-73.988993
1,1,45529784,02/02/2020 02:15:24 PM,NaN,UNSANITARY CONDITION,RESIDENTIAL BUILDING,11204.0,1751 67 STREET,67 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.618484,-73.992673
2,2,45527528,02/02/2020 02:27:41 AM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,11372.0,87-15 37 AVENUE,37 AVENUE,ADDRESS,Jackson Heights,Open,The following complaint conditions are still o...,QUEENS,40.750269,-73.879432
3,3,45530329,02/02/2020 12:13:18 PM,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10458.0,2405 SOUTHERN BOULEVARD,SOUTHERN BOULEVARD,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.853773,-73.881558
4,4,45528814,02/02/2020 01:59:44 PM,NaN,APPLIANCE,RESIDENTIAL BUILDING,11209.0,223 78 STREET,78 STREET,ADDRESS,BROOKLYN,Open,The following complaint conditions are still o...,BROOKLYN,40.629745,-74.030533

In [5]:
# Q3. How many incidents have a missing Incident Address?
df_missing_info=df.isnull().sum()
df_missing_info

Unnamed: 0                     0
Unique Key                     0
Created Date                   0
Closed Date               126657
Complaint Type                 0
Location Type              52824
Incident Zip               80697
Incident Address           52825
Street Name                52825
Address Type               84765
City                       80274
Status                         0
Resolution Description      7826
Borough                        0
Latitude                   80671
Longitude                  80671
dtype: int64

In [6]:
# Bronx PLUTO dataset
file_Bronx="D:\Python\edx\Capstone project\BX_18v1.csv"
df_br=pd.read_csv(file_Bronx)
df_br.head()

C:\Users\Home\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (19,20,22,23,64,65,80) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BX,2260,1,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
1,BX,2260,4,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
2,BX,2260,10,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
3,BX,2260,17,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1
4,BX,2260,18,201,19.0,1022.0,7.0,8.0,10454.0,L029,...,NaN,209S016,20901.0,E-143,0.0,NaN,1,NaN,NaN,18V1

In [7]:
# Q4. How many valid ZIP Codes exist in the Bronx PLUTO dataset?
zip_code_bronx=df_br["ZipCode"].value_counts() # frequency of each zip code
len(zip_code_bronx) # to count the number of zip codes

26

In [8]:
# Queens PLUTO dataset
file_Queens="D:\Python\edx\Capstone project\QN_18v1.csv"
df_Queens=pd.read_csv(file_Queens)
df_Queens.head()

C:\Users\Home\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (19,20,22,23,64,65,77) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,QN,6,1,402,1.0,NaN,30.0,26.0,11101.0,L115,...,Y,401 011,40101.0,NaN,4.000060e+09,09/20/2013,1,1.0,1.0,18V1
1,QN,6,3,402,1.0,1015.0,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
2,QN,6,8,402,1.0,1011.0,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,08/07/2013,1,1.0,1.0,18V1
3,QN,6,20,402,1.0,NaN,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,09/20/2013,1,1.0,1.0,18V1
4,QN,6,30,402,1.0,NaN,30.0,26.0,11101.0,L115,...,NaN,401 011,40101.0,NaN,4.000060e+09,09/08/2017,1,1.0,1.0,18V1

In [9]:
# Q5. How many valid ZIP Codes exist in the Queens PLUTO dataset?
zip_code_queens=df_Queens["ZipCode"].value_counts() # frequency of each zip code
len(zip_code_queens) # to count the number of zip codes

65